body {
	display: flex;
	height: 100vh;
}
@media (max-width: 768px) {
/* For mobile */

.boardwrap {
	display: flex;
	height: max-content;
	width: max-content;
}
#input4 {
	padding-top: 10px;
}
#healthP {
	color: white;
	padding: 5px;
	font-weight: bold;
}

#purplebut {
	display: grid;
}
#purpleact {
	display: flex;
	flex-direction: row;
	width: max-content;
}
#purpleact button {
	width: max-content;
}
.but {
	width: 100%;
}
li {
	width: 100%;
}
button {
	width: 100%;
}
#purpleselect {
	display: grid;
	margin:0px 10px;
}
.heal  {
	color: lawngreen;
}
.dmg {
	color: red;
}
.healthPNum {
	margin: 0px;
	padding-top: 5px;
}
.top1 {
	display: grid;
	list-style: none;
	margin: 0px;
}
.top2 {
	list-style: none;
	margin: 0px;
	padding-top: 2px;
}

i	 {
	font-size: 20px;
}
input {
	margin: 0px;
}
ul {
	padding: inherit;
	width: max-content;
}
li {
	width: max-content;
	margin: 0;
}
p {
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
}
button {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	border-radius: 2px;
	border: none;
	margin: 5px;
	padding: 15px;
	text-transform: uppercase;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,1);
	background: darkviolet;
}
select {
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,1);
}

}
@media only screen 
  and (min-width: 375px) 
  and (max-width: 768px) 
  and (orientation: portrait) { 

	.top2 {
		margin: 0px;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	}
	.but {
		width: 100%;
	}
	li {
		width: 100%;
	}
	button {
		width: 100%;
	}
}

@media (min-width: 769px) {
/* For desktop */
#healthP {
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding: 5px;
	font-weight: bold;
}
#purplebut {
	list-style: none;
}

#purpleselect {
	display: flex;
	justify-content: space-between;
}

.but {
	background-color: darkviolet;
}
.heal{
	color: lawngreen;
}
.dmg {
	color: red;
}
.healthPNum {
	margin: 0px;

}
.top1 {
	display: flex;
	list-style: none;
	margin: 0px;
}
.top2 {
	display: flex;
	margin: 0px;
    padding: initial;
    justify-content: space-between;
}

input {
	margin: 0px;
}
ul {
	display: flex;
    justify-content: space-between;
    padding: inherit;
}
li {
	width: max-content;
	margin: 0;
}
button {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	border-radius: 0px;
	border: none;
	background-color: white;
	margin: 5px;
}
p {
	font-family: 'Oxygen', sans-serif;
}

}