@media (max-width: 768px) {
/* For mobile */
#input4 {
	padding-top: 10px;
}
#healthP {
	background-color: black;
	color: white;
	padding: 5px;
	font-weight: bold;
}

#purplebut {
	display: grid;
	
}
#purpleact {

}
#purpleselect {
	display: grid;
}
#bgchangewrapper {
}
.heal{
	color: lawngreen;
}
.dmg {
	color: red;
}
.healthPNum {
	margin: 0px;
	padding-top: 5px;
}
.top1 {
	display: grid;
	list-style: none;
	margin: 0px;
}
.top2 {
	display: grid;
	list-style: none;
	margin: 0px;
}

body {
	display: flex;
}
i	 {
	font-size: 20px;
}
input {
	margin: 0px;
}
ul {
	padding: inherit;
	width: max-content;
}
li {
	width: max-content;
	margin: 0;
}
p {
	font-family: 'Oxygen', sans-serif;
	font-size: 40px;
}
button {
	border-radius: 0px;
	border: none;
	margin: 5px;
	padding: 15px;
	background-color: white;
}
select {
}
option {
}
}
@media (min-width: 769px) {
/* For desktop */
#healthP {
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding: 5px;
	font-weight: bold;
}
#purplebut {
	list-style: none;
}
#purpleact {

}
#purpleselect {
	display: flex;
	justify-content: space-between;
}
#bgchangewrapper {
}
.heal{
	color: lawngreen;
}
.dmg {
	color: red;
}
.healthPNum {
	margin: 0px;

}
.top1 {
	display: flex;
	list-style: none;
	margin: 0px;
}
.top2 {
	display: flex;
	margin: 0px;
    padding: initial;
    justify-content: space-between;
}

input {
	margin: 0px;
}
ul {
	display: flex;
    justify-content: space-between;
    padding: inherit;
}
li {
	width: max-content;
	margin: 0;
}
button {
	border-radius: 0px;
	border: none;
	background-color: white;
	margin: 5px;
}
p {
	font-family: 'Oxygen', sans-serif;
}
select {
}
option {
}
}